<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">Tüm Katagoriler</a>
    <% categories.forEach(element => { %>
        <a href="" class="list-group-item list-group-item-action"><%= element.name %></a>
    <% }) %>
</div>

<!-- biz buraya bir obje göndermiş olduk objenin içinden name bilgisine erişmesi gerekir. -->